.Contacts_Title{
	position: relative;
	top:100px;
}

.adres{
	position: relative;
	top:130px;
}


.map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
    top:130px;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

.Footer{
	position: relative;
	top:130px;
}