@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy Regular'), local('Gilroy-Regular'),
        url('/font/Gilroy-Regular.woff2') format('woff2'),
        url('/font/Gilroy-Regular.woff') format('woff'),
        url('/font/Gilroy-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }

body{
	margin:0;
	padding:0;
}
.container{
	display: flex;
	flex-direction: row;
	margin: 0px auto;
	width: 100%;
	position:absolute;
	left:0px;
	top:0px;

}



#menu{
	background-image: url("/img/back-menu.png");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	/*margin-top:0;
	padding-top: 0;*/
	height: 650px;  
	width: 20%;
	z-index: 100;
}

#menu.default{
	position: fixed;
	top:0px;
	left: 0px;
}

.bottom-line.default{
	position: fixed;
	top:570px;
	left: 0px;
}

.Soc-networks.default{
	position: fixed;
	margin-right: 10px;
	top:570px;
}


.stocks{
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	margin:0;
	padding: 0;
	height: 340px;   
	width: 80%;

}

.stocks img{
	position: relative;
	float:right;
}

.ProductDescription{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-top:60px;
	font-family: 'Gilroy';
	font-size: 16px;
	
}

.Description{
	position: relative;
	bottom:20px;
	margin-right: 100px;
}


.SelectWeight{
	display: flex;
	flex-direction: row;
	justify-content: start;
	overflow: hidden;
	position: relative;
	right: 7px;
	bottom:5px;
	font-family: 'Gilroy';
}


.CalcNumber {
	width:200px;
	margin-top:15px;
    position: relative;
    right: 10px;
    display: flex;
    flex-direction: row;

}
.CalcNumber button {
	display:inline-block;
	width:20px;
	height:20px;
	cursor:pointer;
	background: none;
	border: none;
	outline: none;
	color: #AC8760;
	bottom:15px;
	padding: 2px;
}

.CalcNumber input {
	width:20px;
	height: 25px;
	border-radius: 3px;
	border:1px solid #B19676;
	text-align:center;
	position: relative;
	bottom:1px;
	font-family: 'Gilroy';
	color:#B19676;
	font-size: 18px;
}

.Cost{
	position: relative;
	bottom:12px;
	left: 20px;
	font-family: 'Gilroy';
	font-size: 18px;
}

.OrdDescription{
	display: flex;
	justify-content: flex-start;
	width: 150px;
	height: 30px;
	border-radius: 20px;
	color:#FFF;
	background-color: #AC8760;
	border:none;
	position: relative;
	font-size: 16px;
	text-align: center;
	padding-left: 30px;
	padding-right: 30px;
}

/*Меню линия верх*/
.top-line{
	border-top:solid 2px #f7e1aa;
	width: 261px;
	position: relative;
	top:15px;
}

/*Меню линия низ*/
.bottom-line{
	border-top:solid 2px #f7e1aa;
	width: 261px;
	position: relative;
	top:570px;
	z-index: 410;
}

.Logo{
	display: flex;
	flex-direction: row;
	justify-content: center;
	position: relative;
	bottom:-10px;
}

.NavMenu{
	position: relative;
	padding-top: 15px;
}

ul li{
	list-style-type:none;
	color:#f7e1aa;
	font-size: 18px;
	font-family: 'Gilroy';
	margin-top: 10px;
}

.nav a{ 
	
    outline: none;
    text-decoration: none;
}
.Menu{ 
	cursor:pointer; 
	line-height: 2rem;
	min-height: 2rem;
	color:#f7e1aa;
	font-size: 18px;
	font-family: 'Gilroy';
}

.Menu.active{ 
	font-weight: bold;
	background:none !important;
    outline: none;
    text-decoration: none;
}
.Menu.active a{
	border:none;
    outline: none;
    text-decoration: none;
}

.Menu:after{ 
	content: "\f104"; /* добавляем иконку дом */
    font-family: FontAwesome;
    color: #f7e1aa;
    margin-right: 10px;
    padding-left: 10px;
   outline: none;

}

.Menu.active:after{
	content: "\f107"; /* добавляем иконку дом */
    font-family: FontAwesome;
    color: #f7e1aa;
    margin-right: 10px;
    padding-left: 10px;
    outline: none;
}


.SubMenu{ 
	display:none;
	position: relative;
}

.SubMenu ul{ 
	position: relative;
	right: 20px;
}
.fa-instagram {
	color:#f7e1aa;
	position: relative;
}

.fa-vk{
	color:#f7e1aa;
	position: relative;
}
.Soc-networks{
	display: flex;
	flex-direction: row;
	margin-right: 10px;
	position: relative;
	top:570px;
	z-index: 500;
}

.Soc-networks p{
	padding-left:30px;

}
.TopProducts{
		position: relative;
  z-index: 250;
  width: 80.4%;
  margin-left:19.6%;
  top:270px;
}

/*Топ продукт*/
.TopProductTitle{
	display:flex;
	flex-direction: row;
	justify-content: center;
    position: relative;
    top:60px;
	
}

.TopProductCart{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	position: relative;
	padding-left:60px; 
	margin-right: 40px;
	top:70px;
}

.product{
	background-color:#FFF;
	width: 268px;
	height: 430px;
	border-radius: 5%;
	box-shadow: 0 0 7px 2px #726F69;
}

.weight{
	display: flex;
	flex-direction: row;
	justify-content: start;
	overflow: hidden;
	position: relative;
	right: 7px;
	bottom:5px;
}

.wt{
	background-color: #FEF8ED;
	width:55px; 
	height:25px;
	text-align: center;
	cursor: pointer;
}

.wt p{
	margin:2px;
	padding: 0;
}

.active{background-color: #FFF; box-shadow: 0px 0px 3px  #726F69; width:55px; 
	height:24px; border-radius: 20px;}

.product{
	display:flex;
	flex-direction: column;
	align-items: center;
}

.product-desc
{
	position: relative;
	bottom: 10px;
}

.product-desc p
{
	position: relative;
	margin-bottom: 5px;
}

.CostandCart{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.ord-cart{
	margin-left:85px;
	width: 115px;
	height: 30px;
	border-radius: 20px;
	color:#FFF;
	background-color: #AC8760;
	border:none;
	position: relative;
	top:10px;
	font-size: 16px;
}


/*Футер*/

.footer{
	width: 100%;
	height: 250px;
	position: relative;
	top:370px;
    background-image: url("/img/back-footer.png");
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 20px;
}

.Links{
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
   font-family: 'Gilroy'; 

}

.Links a{
   font-size:16px;
   color: #f7e1aa;
   padding-top: 20px;
}

.SocNet-link a{
	padding-left:15px;
}

.SocNet-link{
padding-top: 20px;
}

.GoodsInfoLinks ul li a{
  text-decoration: none;
  color: #f7e1aa;
  font-family: 'Gilroy';
}

.GoodsLinks ul li a{
	text-decoration: none;
  color: #f7e1aa;
  font-family: 'Gilroy';
}


.FeedbackForm{
	font-family: 'Gilroy';
	font-size:16px;
	color: #f7e1aa;
}

.BackCall{
	display: flex;
	flex-direction: column;
    padding-top: 10px;
}


.BackCall input {
	margin:10px;
	background: none;
	border-color:#f7e1aa;
	border-radius:40px;
}

::-webkit-input-placeholder {color: #f7e1aa}

::-moz-placeholder { /* Firefox 19+ */
   color: #f7e1aa;
 }
::-ms-input-placeholder{
   color: #f7e1aa;
 }
::-moz-placeholder{ /* Firefox 18- */
   color: #f7e1aa;
}

.UserName{
	color: #f7e1aa;
	font-family: 'Gilroy';
	font-size:16px;
    text-align: left;
    padding-left: 20px;
    width: 200px;
	height: 30px;
	outline: none;
}

.UserPhone{
	color: #f7e1aa;
	font-family: 'Gilroy';
	font-size:16px;
    text-align: left;
    padding-left: 20px;
    width: 200px;
	height: 30px;
	outline: none;
}

.BackCall-btn{
	width: 220px;
	height: 30px;
	border-radius:40px;
	background-color: #f7e1aa;
	color:black;
	font-family: 'Gilroy';
	text-align: center;
	font-size:16px;
	outline: none;
    border:none;
    cursor: pointer;
    margin-left:10px;
    margin-top:10px;
}
