@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy Regular'), local('Gilroy-Regular'),
        url('C:/Users/User/Desktop/shop/font/Gilroy-Regular.woff2') format('woff2'),
        url('C:/Users/User/Desktop/shop/font/Gilroy-Regular.woff') format('woff'),
        url('C:/Users/User/Desktop/shop/font/Gilroy-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }

body{
	margin:0;
	padding:0;
}

.container{
	display: flex;
	flex-direction: row;
	margin: 0px auto;
	width: 100%;
	position:absolute;
	left:0px;
	top:0px;

}

.menu{
	background-image: url("C:/Users/User/Desktop/shop/img/back-menu.png");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	margin-top:0;
	padding-top: 0;
	height: 650px;  
	width: 20%;
	z-index: 100;

}

.tea_leaves{
	background-image: url("C:/Users/User/Desktop/shop/img/tt2.png");
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	margin-left:0;
	padding-left: 0;
	height: 340px;   
	width: 80%;

}

.tea_leaves img{
	position: relative;
	float:right;
}

.Logo{
	display: flex;
	flex-direction: row;
	justify-content: center;
	position: relative;
	bottom:-10px;
}

.NavMenu{
	position: relative;
	padding-top: 15px;
}

ul li{
	list-style-type:none;
	color:#f7e1aa;
	font-size: 18px;
	font-family: 'Gilroy';
	margin-top: 10px;
}

.nav a{ 
	
    outline: none;
    text-decoration: none;
}
.Menu{ 
	cursor:pointer; 
	line-height: 2rem;
	min-height: 2rem;
	/*padding: 0 1rem;*/
	color:#f7e1aa;
	font-size: 18px;
	font-family: 'Gilroy';
}

.Menu.active{ 
	font-weight: bold;
	background:none !important;
    outline: none;
    text-decoration: none;
}
.Menu.active a{
	border:none;
    outline: none;
    text-decoration: none;
}

.Menu:after{ 
	content: "\f104"; /* добавляем иконку дом */
    font-family: FontAwesome;
    color: #f7e1aa;
    margin-right: 10px;
    padding-left: 10px;
   outline: none;

}

.Menu.active:after{
	content: "\f107"; /* добавляем иконку дом */
    font-family: FontAwesome;
    color: #f7e1aa;
    margin-right: 10px;
    padding-left: 10px;
    outline: none;
}

.SubMenu{ 
	display:none;
	position: relative;
	/*padding: 1rem;*/
}

.SubMenu ul{ 
	position: relative;
	right: 20px;
}
.fa-instagram {
	color:#f7e1aa;
	position: relative;
}

.fa-vk{
	color:#f7e1aa;
	position: relative;
}
.Soc-networks{
	display: flex;
	flex-direction: row;
	margin-right: 10px;
	position: relative;
	top:580px;
	z-index: 500;
}

.Soc-networks p{
	padding-left:30px;
}

.top-line{
	border-top:solid 2px #f7e1aa;
	width: 261px;
	position: relative;
	top:15px;
}

.bottom-line{
	border-top:solid 2px #f7e1aa;
	width: 261px;
	position: relative;
	top:575px;
	z-index: 410;
}

.StockProduct{
	position: relative;
  z-index: 250;
  width: 80.4%;
  margin-left:19.6%;
  top:50px;
}

.StockProduct h2{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.SubTitle{
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	font-size: 20px;
	font-family: 'Gilroy';
}

.StockTea{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
		padding-left: 10px;
	margin-right: 10px;
}

.StockTeaView{
	display: flex;
	flex-direction: column;
	padding-top: 30px;
}

.stv_link{
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 180px;
	height: 30px;
	padding-top: 10px;
	border-radius:40px;
	text-align: center;
	cursor: pointer;
	background-color: #A68864;
	color: #FFF; 
	font-family: 'Gilroy';
	font-size: 16px;
	position: relative;
	top:20px;
	left:15%;

}

.NextPrev{
	width: 76.5%;
	height: 80px;
	float:right;
	margin-right:25px; 
	margin-top: 70px;
}

.Prev{
	margin-top:30px;
	float:left;
	background:#FFF;
	box-shadow: 0 0 5px 0px #A68864;
	border-radius: 40px;
	border:none;
	color:#A68864; 
	padding:8px;
	width: 125px;
	text-align: center;
	font-family: 'Gilroy';
	font-size: 18px;
	cursor: pointer;
}

.Prev a{
  text-decoration: none;
  cursor: pointer;
  color:#A68864; 
}


.Next a{
  text-decoration: none;
  cursor: pointer;
  color:#A68864; 
}

.Next{
	margin-top:30px;
	float:right;
	text-align: center;
	background:#FFF;
	box-shadow: 0 0 5px 0px #A68864;
	border-radius: 40px;
	border:none;
	color:#A68864; 
	padding:8px;
	width: 125px;
	text-align: center;
	font-family: 'Gilroy';
	font-size: 18px;
	cursor: pointer;
}

.StockOffers{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	position: relative;
	height: 380px;   
	width: 80%;
	float:right;
	margin-top: 20px;
	font-family: 'Gilroy';

}

.StockOffers1{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	position: relative;
	height: 380px;   
	width: 80%;
	float:right;
	margin-top: 20px;
	font-family: 'Gilroy';

}


.footer{
	/*border:solid 2px red;*/
	width: 100%;
	height: 250px;
	position: relative;
	top:30px;
    background-image: url("C:/Users/User/Desktop/shop/img/back-footer.png");
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 20px;
}

.Links{
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
   font-family: 'Gilroy'; 
  /* padding-top: 30px;*/

}

.Links a{
   font-size:16px;
   color: #f7e1aa;
   padding-top: 20px;
}

.SocNet-link a{
	padding-left:15px;
}

.SocNet-link{
padding-top: 20px;
}

.GoodsInfoLinks ul li a{
  text-decoration: none;
  color: #f7e1aa;
  font-family: 'Gilroy';
}

.GoodsLinks ul li a{
	text-decoration: none;
  color: #f7e1aa;
  font-family: 'Gilroy';
}


.FeedbackForm{
	font-family: 'Gilroy';
	font-size:16px;
	color: #f7e1aa;
}

.reserv-call{
	display: flex;
	flex-direction: column;
    padding-top: 10px;
}


.reserv-call input {
	margin:10px;
	background: none;
	border-color:#f7e1aa;
	border-radius:40px;
}

::-webkit-input-placeholder {color: #f7e1aa}

::-moz-placeholder { /* Firefox 19+ */
   color: #f7e1aa;
 }
::-ms-input-placeholder{
   color: #f7e1aa;
 }
::-moz-placeholder{ /* Firefox 18- */
   color: #f7e1aa;
}

.UserName{
	color: #f7e1aa;
	font-family: 'Gilroy';
	font-size:16px;
    text-align: left;
    padding-left: 20px;
    width: 200px;
	height: 30px;
	outline: none;
}

.UserPhone{
	color: #f7e1aa;
	font-family: 'Gilroy';
	font-size:16px;
    text-align: left;
    padding-left: 20px;
    width: 200px;
	height: 30px;
	outline: none;
}

.ResCall-btn{
	width: 220px;
	height: 30px;
	border-radius:40px;
	background-color: #f7e1aa;
	color:black;
	font-family: 'Gilroy';
	text-align: center;
	font-size:16px;
	outline: none;
    border:none;
    cursor: pointer;
    margin-left:10px;
    margin-top:10px;
}
