@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');

*{
padding: 0;
margin: 0;
}

html, body{
	height: 100%;
}

/*Шапка-меню*/
#logo{
	color:#c70e0e;
	text-decoration: none;
	font-size: 28px;
    padding-left:30px;
}

.nav-menu a{
	color:#c70e0e;
	text-decoration: none;
	font-family: OpenSans-Regular;
	font-size: 20px;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
	
}

.nav-menu a:hover {
    background-size: 100% 2px;
}

.nav-top{
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
	position: fixed;
	z-index: 1000;
	width: 100%;
	margin:0;
	padding: 0;
	/*background-color:#FFFAFA;*/
	background-color: #FFFFFF;
}

.header_item{
	padding: 20px 5px;
	font-size: 20px;
	margin-left:5px;
	display: inline-block;
	text-align: center;
	padding-right: 30px
}


/*Низ шапки(картинка)*/

.nav-bottom{
	background-image: url("/img/NavBottomImg.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	min-height: 100vh;   
	width: 100%;
    
    display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-webkit-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.nb-title{
	color: #FFF;
	margin: 50px;
	
}

.Check-menu{
	font-size: 18px;
	font-family: "OpenSans-Regular";
	position: relative;
	top:30px;
	background-color: #c70e0e;
	color:#FFF;
	border:none;
	text-align: center;
	width: 180px;
	height: 40px;
	border-radius: 20px;
	outline: none;
	
}

.Check-menu a{
	display: block;
	text-decoration: none;
	color:#FFF;
}

.Order-Desk{
    
}
.order-form{
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
   /* padding-left: 250px; */

}

#name{
	margin-top:15px;
	color:black;
	font-size:16px;
	padding: 5px;
}

#phone{
	margin-top:15px;
	color:black;
	font-size:16px;
	padding: 5px;
}

#email{
	margin-top:15px;
	color:black;
	font-size:16px;
	padding: 5px;
}

.ord-desk{
	margin-top:15px;
	color:black;
	font-size:16px;
	background-color: #c70e0e;
	border: none;
	text-align: center;
	color:#FFF;
	/*height: 35px;*/

	width: 190px;
  height: 50px;
  -webkit-transform: skew(-20deg);
  background: #c70e0e;
  cursor: pointer;
}

@media screen and (min-width: 960px) and (max-width: 1366px){     

.order-form{
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	/* padding-right: 250px; */

}


}

@media screen and (min-width: 1366px) and (max-width: 1600px){     

.order-form{
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	padding-right: 250px; 

}


}

@media screen and (min-width: 320px) and (max-width: 480px){
	.nav-bottom{
	background-image: url("/img/NavBottomImg.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	min-height: 100vh; 
	width: 100%;

    
    display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-webkit-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
}

/*Меню, слайдер*/

#menu-title{
	display: flex;
	flex-direction:row;
	justify-content: center;
	padding-top: 30px;
	font-size:28px;
	color:#c70e0e; 
}

.wrapper{
	height:100%;
	padding: 50px;
}


.slick-list{
	overflow: hidden;
}
/*Лента слайдов*/
.slick-track{
	display: flex;
	align-items: flex-start;
}



/*Стрелка*/
.slick-arrow{
	position: absolute;
	top:40%;
	z-index: 10;
    font-size: 0;
    width: 50px;
    height: 90px;
}
/*Стрелка влево*/
.slick-arrow.slick-prev{
	border: none;
    color: inherit;
    background-color: transparent;
    outline:none;
	left: 0;
	background: url("/img/left-chevron.png") 0 0 / 100% no-repeat;
}
/*Стрелка вправо*/
.slick-arrow.slick-next{
	border: none;
    color: inherit;
    background-color: transparent;
    outline:none;
    right: 0;
	background: url("/img/right-chevron.png") 0 0 / 100% no-repeat;
}

.slider{
	position: relative;
	padding: 0px 90px;
}

/*точки*/
.slider .slick-dots{
	display: flex;
	align-items: center;
	justify-content: center;
}

.slick-dots li button:before {
 font-family: 'slick';
  font-size: 10px;
  line-height: 20px;

  display: flex;
	align-items: center;
	justify-content: center;
 
  width: 40px;
  height: 40px;
  content: '•'; /* <-- Вот этот символ */
  
  opacity: .25;
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/*

.slider .slick-dots{
	display: flex;
	align-items: center;
	justify-content: center;
}

.slider .slick-dots li{
	list-style: none;
	margin: 0 10px;
}

.slider .slick-dots button{
	font-size:0;
	width: 10px;
	height: 10px;
	background-color: #c70e0e;
	border-radius: 50%;
	border:none;
	outline:none;
}

.slider .slick-dots .slick-active button{
	background-color: transparent;
	border:solid #c70e0e 2px;
	list-style: none;
}*/

@media screen and (min-width: 1360px) and (max-width: 4000px){
	.slick-track{
	display: flex;
	align-items: flex-start;
}
	/*Стрелка*/
.slick-arrow{
	position: absolute;
	top:40%;
	z-index: 10;
    font-size: 0;
    width: 50px;
    height: 90px;
}
/*Стрелка влево*/
.slick-arrow.slick-prev{
	border: none;
    color: inherit;
    background-color: transparent;
    outline:none;
	left: 0;
	background: url("/img/left-chevron.png") 0 0 / 100% no-repeat;
}
/*Стрелка вправо*/
.slick-arrow.slick-next{
	border: none;
    color: inherit;
    background-color: transparent;
    outline:none;
    right: 0;
	background: url("/img/right-chevron.png") 0 0 / 100% no-repeat;
}

.slider{
	position: relative;
	padding: 0px 90px;
}

/*точки*/
.slider .slick-dots{
	display: flex;
	align-items: center;
	justify-content: center;
}

.slick-dots li button:before {
 font-family: 'slick';
  font-size: 10px;
  line-height: 20px;

  display: flex;
	align-items: center;
	justify-content: center;

  width: 40px;
  height: 40px;
  content: '•'; /* <-- Вот этот символ */
  
  opacity: .25;
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/*
.slider .slick-dots{
	display: flex;
	align-items: center;
	justify-content: center;
}


.slider .slick-dots li{
	list-style: none;
	margin: 0 10px;
}


.slider .slick-dots button{
	font-size:0;
	width: 10px;
	height: 10px;
	background-color: #c70e0e;
	border-radius: 50%;
	border:none;
	outline:none;
}

.slider .slick-dots li.slick-active button{
	background-color: transparent;
	border:solid #c70e0e 2px;
	list-style: none;
}*/
}

@media screen and (min-width: 960px) and (max-width: 1024px){
  
  .slider .slick-dots li{
	list-style: none;
	margin: 0 10px;
}

  .slider__item img{
  	width: 260px;
  	height: 200px;
  }

	.slider{
	position: relative;
	padding: 0px 30px;
}

/*Стрелка*/
.slick-arrow{
	position: absolute;
	top:40%;
	z-index: 10;
    font-size: 0;
    width: 40px;
    height: 80px;
}
/*Стрелка влево*/
.slick-arrow.slick-prev{
	border: none;
    color: inherit;
    background-color: transparent;
    outline:none;
	left: -30px;
	background: url("/img/left-chevron.png") 0 0 / 100% no-repeat;
}
/*Стрелка вправо*/
.slick-arrow.slick-next{
	border: none;
    color: inherit;
    background-color: transparent;
    outline:none;
    right: -30px;
	background: url("/img/right-chevron.png") 0 0 / 100% no-repeat;
}

.slider .slick-dots{
	display: flex;
	align-items: center;
	justify-content: center;
}

.slick-dots li button:before {
 font-family: 'slick';
  font-size: 10px;
  line-height: 20px;
 
  display: flex;
	align-items: center;
	justify-content: center;
 
  width: 40px;
  height: 40px;
  content: '•'; /* <-- Вот этот символ */
  
  opacity: .25;
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/*
.slider .slick-dots .slick-active button{
	background-color: transparent;
	border:solid #c70e0e 2px;
	list-style: none;
}*/

}

.MenuLoad{
	display: block;
	display: flex;
	justify-content: center;
	flex-direction: row;
	padding-bottom: 30px;
}

.Loadbtn{
    background: #c70e0e;
	border:none;
	width: 180px;
	height: 50px;
	outline: none;
}

.Loadbtn i{
	color:#FFF;
	cursor:pointer;
}

.Loadbtn a{
	color:#FFF;
	text-decoration: none;
	font-size:16px;
}

/*Преимущества*/

#reviews-title{
	display: flex;
	flex-direction:row;
	justify-content: center;
	padding-top: 10px;
	font-size:28px;
	color:#c70e0e; 
}

.review_img {
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	padding-top: 30px;
   margin-left: 10%;
   margin-right: 10%;

}

.review_title{
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	padding-top: 30px;
	margin-left: 10%;
   margin-right: 10%;
}

#parking{text-align: center;
font-size:20px;
color:#c70e0e;}

#room-service{text-align: center;
font-size:20px;
color:#c70e0e;
padding-right: 30px;
}

#sale{text-align: center;
font-size:20px;
color:#c70e0e;}

#place{text-align: center;
font-size:20px;
color:#c70e0e;}

/*Бронь*/

#reserv-title{
	padding-top:30px;
	display: flex;
	flex-direction:row;
	justify-content: center;
	font-size:28px;
	color:#c70e0e; 
}

.reservation-form{
	padding-top:20px;
	display: flex;
	justify-content: center;
	flex-direction: row;
    justify-content: space-between;
    margin-right:100px;
}

#name{
	color:black;
	font-size:16px;
}

#phone{
	color:black;
	font-size:16px;
}

#email{
	color:black;
	font-size:16px;
}

.res-desk{
	margin-top:15px;
	color:black;
	font-size:16px;
	background-color: #c70e0e;
	border: none;
	text-align: center;
	color:#FFF;

	width: 190px;
  height: 50px;
  -webkit-transform: skew(-20deg);
  background: #c70e0e;
   cursor: pointer;
}

@media screen and (min-width: 960px) and (max-width: 1366px){ 
	.reservation-form{
	padding-top:15px;
	display: flex;
	align-items: center;
	flex-direction: column;
   margin-left:100px;
}

#name{
	color:black;
	font-size:16px;
	width: 230px;
	padding: 15px;

}

#phone{
	color:black;
	font-size:16px;
	width: 230px;
	padding: 15px;
}

#email{
	color:black;
	font-size:16px;
	width: 230px;
	padding: 15px;
}
}

/*Команда*/

#Team-title{
	padding-top:30px;
	display: flex;
	justify-content: center;
	font-size:28px;
	color:#c70e0e; 
}

.team-man{
	padding-top:30px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-left:50px;
}

#TeamMan-1{
   margin-right:60px;
}

#TeamMan-2{
margin-right:60px;

}

#TeamMan-3{
margin-right:60px;

}

#TeamMan-4{
margin-right:60px;

}

.Tm-name{
	padding-top:15px;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

#Tm1-name{
    color:#c70e0e; 
    font-size: 20px;
    margin-right:150px;
     margin-left:20px;
}

#Tm2-name{
	color:#c70e0e; 
    font-size: 20px;
    margin-right:140px;
     margin-left:-20px;
  /*  margin-right:100px;*/
}

#Tm3-name{

	color:#c70e0e; 
    font-size: 20px;
    margin-right:160px;
    margin-left:-20px;
  /*  margin-right:100px;*/
}

#Tm4-name{
	color:#c70e0e; 
    font-size: 20px;
     margin-right:60px;
     margin-left:-20px;
   /* margin-right:100px;*/
}



/*Контакты*/
#contacts-title{
	padding-top:30px;
	display: flex;
	justify-content: center;
	font-size:28px;
	color:#c70e0e; 
}

.contacts-map{
	display: flex;
	padding-top:30px;
	justify-content: center;
	width: 100%;
	
}

/*Footer*/

.footer{
	/*display: flex;
	justify-content: center;
	flex-direction: row;
	background-color: black;*/
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-left: 15%; 
	padding-right: 15%;
	background: #800000;
	color:#FFF;
	height: 200px;
}

.time-place .text-TimePlace{
	padding-top: 20px;
   font-size:20px;
}

.footer-contacts .text-Contats{
	padding-top: 20px;
 font-size:20px;
} 

.Soc-networks .text-SocNetworks{
	padding-top: 20px;
	 font-size:20px;
}

.Tm-pl{
	padding-top: 30px;
    display: flex;
    flex-direction: column;
}

.Tm-pl a{
text-decoration: none;
    color:#FFF;
}

.FCon{
	padding-top: 30px;
    display: flex;
    flex-direction: column;
}

.FCon a{
	text-decoration: none;
    color:#FFF;
}

.fa-envelope-o{
	font-size: 16px;
}

.SocNet{
	padding-top: 30px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.SocNet a{
	text-decoration: none;
    color:#FFF;
}

.fa-map-marker{
	margin-bottom: 15px;
	text-decoration: none;
    color:#FFF;
}

.fa-envelope-o{
	margin-bottom: 10px;
}

.fa-vk{
padding-right: 15px;
}

.fa-facebook-official{
margin-right: 15px;
}

.fa-twitter-square{
margin-right: 15px;
}

